@media (max-width:1100px){
    .footer__inner{
        padding: 0 20px;
    }
    .header__background{
        max-height: 500px;
    };

}

@media (max-width:930px) {
    .addons__cards {
        flex-direction: column;
        align-items: center;
    }
    .addons___left,
    .addons__right {
        width: 100%;
        margin: 0;
    }
    .addons___left {
        margin-bottom: 20px;
    }
    .addons {
        padding-top: 0;
    }
    .header {
        margin-bottom: 50px;
    }
    .header__title {
        font-size: 50px;
    }
    .menu__list-item {
        display: none;
    }
    .menu__list-item:first-child,
    .menu__list-item:last-child {
        display: block;
        margin-right: 50px;
    }
    .menu__list-item:last-child {
        margin-left: 30px;
        margin-right: 0;
    }
    .gallery {
        padding-top: 50px;
    }
    .hide {
        display: none;
    }
    .features__content-right {
        padding: 0;
        gap: 0;
        text-align: start;
    }
    body {
        overflow-x: hidden;
    }

}

@media (max-width:900px) {
    body {
        overflow-x: hidden;
    }
    .features__title-s {
        position: relative;
        margin: auto;
        margin-bottom: 20px;
    }
    .header__button-box {
        padding-top: 85px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-evenly;
        margin: 30px;
        align-items: flex-start;
    }
    .header__btn-try {
        margin-bottom: 15px;
    }
    .features__content {
        flex-direction: column;
    }
    .features__left-second {
        width: calc(100% + 1.25rem);
    }
    .features__right-list {
        margin: 0;
        width: 310px;
    }
    .features__content-right {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: auto;
    }
    .features__list-item {
        display: flex;
        flex-direction: column;
        width: 500px;
    }
    .features__list-item p {
        margin-left: 120px;
    }
    .addons__cards {
        align-items: center;
    }
    .addons___left,
    .addons__right {
        width: 100%;
        margin: 0;
    }
    .addons___left {
        margin-bottom: 20px;
    }
    .addons {
        padding-top: 0;
    }
    .gallery__images {
        padding: 0 20px;
    }
    .footer__we {
        margin: 0;
    }
    .footer__inner {
        padding: 0 30px;
    }
    .header__content-text{
        padding: 0 20px;
    }
}


@media (max-width: 710px){
    .partners__logo{
        gap: 5%;
    }
}

@media (max-width:680px) {
    body {
        overflow-x: hidden;
    }
    .header__background{
        max-height: 300px;
    };

    .container__header {
        padding: 0 30px;
    }
    .addons__text-box {
        padding: 0 40px;
    }
    .addons__cards {
        margin: auto;
        max-width: 330px;
    }
    .gallery__images {
        flex-direction: column;
        align-content: center;
    }
    .gallery_pics {
        width: calc(45% + 1.25rem);
        flex-direction: column;
    }
    .partners {
        padding-top: 100px;
    }
    .partners__logo {
        display: grid;
        grid-template-columns: repeat(3, min-content);
        justify-content: center;
        gap: 7%;
        margin-bottom: 40px;
    }
    /* hello world */
    .footer__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .feedback {
        padding-top: 50px;
    }
    .footer {
        padding-top: 50px;
    }
    .footer__we {
        margin: 0;
    }
    .header__title {
        font-size: 46px;
        line-height: 62px;
        min-width: 370px;
        padding: 0 5px;
    }
    .header {
        margin-bottom: 0;
    }
    .features {
        padding-top: 50px;
    }
    .addons__cards-text {
        padding: 0 40px;
    }
    .gallery__text {
        padding: 0 20px;
    }
    .footer__list-item {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (max-width:550px) {
    body {
        overflow-x: hidden;
    }
    .feedback__inner{
        padding:  0 20px;
    }
    .features__list-item{
        display: flex;
    flex-direction: column;
    width: auto;
    margin: auto;
    align-items: center;
    }
    .features__texts{
        margin: 0;
    }
    .features__list-item p {
        margin-left: 0
    }
    .footer__general,
    .footer__resources,
    .footer__we{
        margin-bottom: 75px;
    }
    .footer__title{
        margin-bottom: 40px;
    }
    .socials a{
        margin-right: 25px;
    }
    .footer__svg{
        margin-right: 15px;
    }
    .footer__sv{
        margin-right: 10px;
    }


}